{:paths ["src"]
 :deps  {io.github.timokramer/charm.clj {:git/tag "v0.2.69"
                                         :git/sha "119c5efe2eb488bd75c6fe7511971843d6f8de71"}
         eve/eve                         {:git/url "https://github.com/SeniorCareMarket/eve"
                                          :git/sha "fdf021daa0e3463743308d811b7712096a7c6381"}}}
